@page "/serpientes"
@using Lab14.Clases
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
<PageTitle>Registro aves</PageTitle>

<h1>Registrar Aves:  </h1>

<EditForm Model="@reganimal" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <label for="identifier">Nombre del animal: </label>
                <InputText id="identifier" class="form-control" @bind-Value="reganimal.nombre_propio" />
                <ValidationMessage For="() => reganimal.nombre_propio" />
            </div>
            <div class="col">
                <label for="description">Especie: </label>
                <InputText id="description" class="form-control" @bind-Value="reganimal.especie" />
                <ValidationMessage For="() => reganimal.especie" />
            </div>

        </div>
        <p></p>
        <p></p>
        <div class="row mt-3">
            <div class="col">
                <label for="description">Tipo de alimentacion: </label>
                <InputText id="description" class="form-control" @bind-Value="reganimal.tipo_alimentacion" />
                <ValidationMessage For="() => reganimal.tipo_alimentacion" />
            </div>
            <div class="col">
                <label for="description">Esperanza de vida: </label>
                <InputText id="description" class="form-control" @bind-Value="reganimal.esperanza_vida" />
                <ValidationMessage For="() => reganimal.esperanza_vida" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="classification">¿Es venenoso?: </label>
                <InputSelect id="classification" class="form-select form-select-sm" @bind-Value="reganimal.veneno" required>
                    <option value="">Seleccione una opcion...</option>
                    <option value="@reganimal.veneno">Si</option>
                    <option value="@reganimal.veneno">No</option>
                </InputSelect>
                <ValidationMessage For="() => reganimal.veneno" />
            </div>
            <div class="col">
                <label for="description">Longitud maxima: </label>
                <InputText id="description" class="form-control" @bind-Value="reganimal.largo" />
                <ValidationMessage For="() => reganimal.largo" />
            </div>
        </div>
        <p></p>
        <div class="row mt-3 text-center">
            <div class="col">
                <button class="btn btn-dark" type="submit">Registrar</button>
            </div>
        </div>
    </div>

</EditForm>

@code {
    private List<Serpientes> Listado_Animales = new List<Serpientes>();
    private Serpientes reganimal = new Serpientes();


    private void Guardar()
    {
        Listado_Animales.Add(reganimal);
        localStorage.SetItem("serpientes", Listado_Animales);

    }

    protected override async Task OnInitializedAsync()
    {
        var savedStarships = localStorage.GetItem<List<Serpientes>>("serpientes");

        if (savedStarships != null)
        {
            Listado_Animales = savedStarships;
        }
    }
}